.main-header {
   position: sticky;
   top: 0px;
   display: flex;
   width: 100%;
   color: var(--text-primary);
   background-color: var(--background);
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
   border-bottom: 1px solid var(--primary);

   h2 {
      cursor: default;
   }

   a {
      text-decoration: none;
      color: var(--text-primary);
   }

   nav {
      display: flex;
      gap: 2rem;

      a:hover {
         color: var(--text-secondary);
      }
   }

   div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
   }
}