.job-list-title{
   margin-block: 1em 2em;
}

.job-listings {
   border: 1px solid var(--text-muted);
   border-radius: 1rem;

   .empty-search-msg {
      color: var(--text-secondary);
   }
}

.job-listings .job-listing-card:nth-last-child(1) {
   border-bottom: none;
}

.job-listings .no-border {
   border: none;
}